{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h2>Register</h2>

<form action="/register" method="POST">
{% with messages = get_flashed_messages()%}
{% if messages%}
    {% for message in messages%}
    <p>{{message}}</p>
    {%endfor%}
    {%endif%}
    {%endwith%}
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="register">
</form>
<a href="/" >Login</a>

{% endblock %}