{% extends "layout.html" %}
{%block content%}
<h2>new task</h2>
<form action="/addcat" method="POST">
    Category: <br>
    <textarea name="category" rows="3" cols="40"></textarea>
    <br>
    Color:
    <br>
    <textarea name="color" rows="3" cols="40"></textarea>
    <br>
    <input type="submit" value="Send">
    </form>

    <table>

        <td>gray</td>
        <td>maroon</td>
        <td>yellow</td>
        <td>green</td>
        <tr>
        <td>#808080</td>
        <td>#800000</td>
        <td>#FFFF00</td>
        <td>#008000</td>


        </tr>
    </table>
{% endblock %}