{% extends "layout.html" %}
{% block content %}
<h2>Your tasks</h2>
<h3>To do</h3>
<table>
    {%for task in tasks%}
    <tr>
        <td>{{ task.task }}</td>
        
    </tr>
    {%endfor%}
</table>
<h3>Done</h3>
<table>
    {%for task in tasks2 %}
    <tr>
        <td>{{ task.task }}</td>
    </tr>
    {%endfor%}
</table>

<h3>New task</h3>
<form action="/task" method="POST">
    <p>Task:<br>
    <input type="text" name="task"></p>
    <input type="submit" value="submit">
    </form>


<h3>Mark as done</h2>
<form action="/mark" method="POST">
<p>Task:<br>
<input type="text" name="task"></p>
<input type="submit" value="submit">
</form>
<a href="/reset">Reset tasks</a>
{% endblock %}


