{% extends "layout.html" %}
{% block content %}

<form action="/task" method="POST">
    <p>New task:<br>
    <input type="text" name="task"></p>
    
    <p4>Choose a category</p4>
  
        <select name="category">
            <option value="home">Home</option>
            <option value="school">School</option>
            
            {%for cat in cats%}
            <option value = "{{ cat.category }}">{{ cat.category }}</option>
            {%endfor%}
        </select>
        <a href="/newcat">New category</a>
    <label>
   
    <br>
    <p4> Add a deadline:</p4>
    <br>
    <input type="datetime-local" name="deadline"> <br> 
    <br>



    <input type="submit" value="submit">
    </form>
<h3>Your tasks</h3>
<form action="/mark" method ="POST">
<table border="1">
    <td>Task</td>
    <td>Category</td>
    <td>Deadline</td>
    <td>Done</td>
    
    <td>Added</td>
    {%for task in tasks%}

    {% if  task.category == "home" %}
        <tr style="background-color:#63A6DF">
    {% elif  task.category == "school" %}
        <tr style="background-color:#E94E35">
    {%else%}
        <tr style="background-color: {{ task.col }}"   >
    {% endif %}
   
        <td>{{ task.task }}</td>
        
        <td> {{ task.category }}</td>
        <td> {{ task.deadline }}</td>
        
        <td> <input type="checkbox" id="lol" name="task" value="{{task.task}}"/>
        
        <td> {{ task.time }}</td>
    </td>
    </tr>
    {%endfor%}
</table>
<button type="submit">mark as done</button>
</form>



<h3>Last 5 completed</h3>
<table border="1">
    {%for task in tasks2 %}
    <tr>
        <td>{{ task.task }}</td>
    </tr>
    {%endfor%}
</table>
<a href="/done">Show all</a>






<a href="/reset">Reset tasks</a>
{% endblock %}